/* architects-daughter-regular - latin */
@font-face {
  font-family: "Architects Daughter";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../../assets/fonts/architects-daughter-v18-latin-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../../assets/fonts/architects-daughter-v18-latin-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.container {
  max-width: 1440px;
  margin: auto;
  padding-left: 100px;
  padding-right: 100px;
}

.text-color {
  color: $main-color-orange;
}

.text-dark {
  color: $main-color;
}

.text-button {
  font-size: 28px;
  line-height: 35px;
  background: $main-color-orange;
  color: $main-color;
  border-radius: 25px;
  padding: 10px 25px;
}
